@media(max-width:470px) and (min-width:310px) {
	.footwear-wrapper{
		height:60%;
		
	}
    .footwear-image-one{
	    width:100%;
		height:100%;
		z-index:3;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_01.jpg');
		background-repeat: no-repeat;
		background-size:100% 100%;
    }
     .footwear-image-two{
		z-index:3;
		background-size:100% 100%;
		width:100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_02.jpg');
		background-repeat: no-repeat;		
	}
	.footwear-image-three{
		width:100%;
		z-index:3;
		background-size::100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_03.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-four{
		z-index:3;
		width:100%;
		background-size:;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_04.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-five{
		z-index:3;
		width:100%;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_05.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-six{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_06.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-seven{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_07.jpg');
		background-repeat: no-repeat;
	}
	.italian-image8{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_08.jpg');
		background-repeat: no-repeat;
	}
	.footwear-text-image-one{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:0em;
		font-size:1em;
		top:1em;	
	}
	.footwear-text-image-two{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:0em;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-three{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:0;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-four{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:0;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-five{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:0;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-six{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		right:0;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-seven{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		right:0;
		font-size:1em;
		top:1em;
	}
	.footwear-text-image-eight{
		left:8em;
		width:65%;
		z-index:6;
		position:absolute;
		color:white;
		top:1em;
		right:0;
		font-size:1em;
	}
	.arrow-image-one{
		position:absolute;
		left:1em;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		width:0;
		background-size: 40px 40px;
		cursor:pointer;
	}
	.arrow-image-two{
		position:absolute;
		left:0em;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		
		background-size: 40px 40px;
		cursor:pointer;
		width:40%;	
	}
	.arrow-image-three{

		position:absolute;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		background-size: 40px 40px;
		cursor:pointer;
	}

	.arrow-image-four{
		position:absolute;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		background-size: 40px 40px;
		cursor:pointer;
		
	}
}




@media(max-width:830px) and (min-width:430px) {
	body{
		overflow-x:hidden;	
	}
	.footwear-wrapper{
		height:60%;
	}
    .footwear-image-one{
	    width:100%;
		height:100%;
		z-index:3;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_01.jpg');
		background-repeat: no-repeat;
		background-size:100% 100%;
     }
     .footwear-image-two{
		z-index:3;
		background-size:100% 100%;
		width:100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_02.jpg');
		background-repeat: no-repeat;		
	}
	.footwear-image-three{
		width:100%;
		z-index:3;
		background-size::100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_03.jpg');
		background-repeat: no-repeat;	
	}
	.footwear-image-four{
		z-index:3;
		width:100%;
		background-size:;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_04.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-five{
		z-index:3;
		width:100%;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_05.jpg');
		background-repeat: no-repeat;	
	}
	.footwear-image-six{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_06.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-seven{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_07.jpg');
		background-repeat: no-repeat;
	}
	.footwear-image-eight{
		width:100%;
		z-index:3;
		background-size:100% 100%;
		height:100%;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/italian-process_08.jpg');
		background-repeat: no-repeat;
	}
	.footwear-text-image-one{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-two{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-three{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-four{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-five{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:0;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-six{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-seven{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		right:2em;
		font-size:1em;
		top:1em;
		
	}
	.footwear-text-image-eight{
		width:60%;
		z-index:6;
		position:absolute;
		color:white;
		top:1em;
		right:2em;
		font-size:1em;
		
	}
	.arrow-image-one{
		position:absolute;
		left:1em;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		width:0;
		background-size: 40px 40px;
		cursor:pointer;
	}
	.arrow-image-two{
		position:absolute;
		left:0em;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		background-size: 40px 40px;
		cursor:pointer;
		width:40%;
	}
	.arrow-image-three{
		position:absolute;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		background-size: 40px 40px;
		cursor:pointer;
	}
	.arrow-image-four{
		position:absolute;
		top:9em;
		background-image: url('https://casperobuh.github.io/images/italianFootwear/str.png');
		background-repeat:no-repeat;
		z-index:8;
		background-size: 40px 40px;
		cursor:pointer;
	}
}
