*{
margin:0;
padding:0;
box-sizing:border-box;	
}
body{

	overflow-x:hidden;
	
	
}
.container-wrapper{

	width:100%;
	height:700px;
	color:red;
	
	min-width:1000px;

max-width:1600px;
}


.navigation{

	position:relative;
	width:100%;
	height:235px;
	
	
	
}
.right-menu{
	width:32em;
	height:470px;
	float:right;
	
}
.image-right{
	position:absolute;
    z-index: 3;
	width:50%;
	height:100%;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/checkroom.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
	
}
.text-right{
	width:70%;
	height:100%;
	z-index: 6;
	position: relative;
	margin:0 auto;
	color:green;
	
}




.open{
	margin-top:1em;
}
.open1, .open2, .open3, .open4, .open5, .ope1, .ope2, .ope3, .ope4, .ope5{
	position:absolute;
	cursor:pointer;
	
}
.open1{
	left:0;
 	z-index:1;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
   height:8%;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	 color:#FDF5E6;
	 border-radius:6px;
}

.open2{
	left:4em; 
	 color:#FDF5E6;
	z-index:2; opacity:0.8;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
   height:8%;
	width:6em;
	height:2em;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	border-radius:6px;
	}
.open3{left:14em; 
	z-index:3;opacity:0.8;
	 color:#FDF5E6;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
  border-radius:6px;
	height:2em;
	width:6em;
	
	text-align:center;
	line-height:1.8em;}
.open4{
	left:24em;
 z-index:4;opacity:0.8;
  color:#FDF5E6;
  border:1px solid #9d7a4b;
	 background:#9d7a4b;
   border-radius:6px;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
}
.open5{
	left:34em;
 z-index:5;opacity:0.6;
 color:#FDF5E6;
 border:1px solid #9d7a4b;
	 background:#9d7a4b;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	border-radius:6px;
	}
.italian-image{
	width:0;
	transition:width 2s linear;
	position:absolute;
	z-index: 6;
	height:300px;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/italian.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
}
.englich-image{
	width:0;
	transition:width 2s linear;
	position:absolute;
	z-index: 10;
	height:300px;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/english.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
}
.belts-image{
	width:0;
	transition:width 2s linear;
	position:absolute;
	z-index: 10;
	height:300px;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/english.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
}

.leather-image{
	width:0;
	transition:width 2s linear;
	position:absolute;
	z-index: 10;
	height:300px;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/english.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
}
.garters-image{
	width:0;
	transition:width 2s linear;
	position:absolute;
	z-index: 10;
	height:300px;
	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/english.jpg');
	background-repeat: no-repeat;
	background-size:640px 270px;
}


.select1{
	clear:both;
	display:inline-block;
	width:40%;
	height:400px;
	margin-top:18.8em;
}

.select-footwear{
   position:absolute;
   top:300px;
   left:8em;
    display:inline-block;
	width:60%;
	
	height:50px;
border:1px solid black;
		
}
.select-footwear{
	visibility: hidden;
}
.selec-footwear{
	position: absolute;
	width:100%;
	
	visibility: hidden;
}
.wrapper-item2{
	cursor:pointer;
   width:8em;
   height:8%;
   text-align:center;
 border:1px solid #9d7a4b;
 background:#9d7a4b;
	margin-left:2em;
	margin-top:1em;
	cursor:pointer; 
	border-radius:6px;
	color:#FDF5E6;
    
}

.wrapper-item3{
	cursor:pointer;
   width:8em;
   height:8%;
    text-align:center;
 border:1px solid #9d7a4b;
 background:#9d7a4b;
	margin-left:2em;
	margin-top:1em;
	cursor:pointer; 
	border-radius:6px;
	color:#FDF5E6;
    
}



	
.wrapper-item{
	width:8em;
   height:8%;
   text-align:center;
	border:1px solid #9d7a4b;
	background:#9d7a4b;
	color:#FDF5E6;
	margin-left:2em;
	border-radius:6px;
	cursor:pointer;
}

.none1{
	
	display:inline-block;
	
	
}








.wrapper-item::after {
      content: "▶";
      padding-left:38px;
	
}

.wrapper-item2::after {
      content: "▶";
      padding-left:20px;
	
}
.login::after {
      content: "▶";
      padding-left:38px;
	
}
.wrapper-it::after {
      content: "▶";
      padding-left:20px;
      
	
}

.wrapper-it{
	 width:8em;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
   height:8%;
   text-align:center;
	margin-left:2em;
	cursor:pointer;
	border-radius:6px;
	color:#FDF5E6;
	

}


.image{
position:absolute;
z-index: -3;
	width:100%;
	height:100%;
	 background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/fon1.jpg');
	 background-repeat:no-repeat;
	 background-size:cover;
}


.container-options{
	position:relative;
	width:100%;
	height:66em;
}
.image1{
	position:absolute;
	width:100%;
	height:100%;
 	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/fon2.jpg');
 	background-repeat:no-repeat;
 	 background-size:cover;
 	
}
.options-items{
	
}

.options-items-left{
	font-family:options_s;
	font-size:8em;
	color:#FFFFFF;
	position:absolute;
    left:0.5em;
	width:45%;
	height:40%;
}
.height-simbol{
	color:#000000;
	font-size:150%;
}

.options-items-right{
	width:48%;
	height:100px;
	
}
.color-elegant{
	color:#FFFFFF;
}
.left{
	position:absolute;
	
	height:200px;
	font-size:44px;
}

.options-items-left2{
	left:1em;
	width:30%;
	top:36%;
	line-height: 0.9;
}
.options-items-left3{
	top:1em;
	width:20%;
	right:1em;
}
.options-items-left4{
	top:5.5em;
	right:1em;
	width:17%;
}



.container-options1{
	position:relative;
	width:100%;
	height:43em;
	
}
.image2{
	position:absolute;
	width:100%;
	height:55em;
 	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/tufli3.jpg');
 	background-repeat:no-repeat;
 	 background-size:cover;
}

.options-items-left7{
	font-family:options_s;
	font-size:8em;
	color:#FFFFFF;
	text-align:right;
	
	position:absolute;
	top:0.5em;
    right:0.5em;
	width:40%;
	height:40%;
	
}
.options-items-left8{
	top:8em;
	width:30%;
	right:1em;
	text-align:right;
	
}
.options-items-left9{
	bottom:1em;
	width:25%;
	left:1em;
}


.container-options2{
	position:relative;
	margin-top:150px;
	width:100%;
	height:900px;
	
}
.image3{
	
	position:absolute;
	width:100%;
	height:900px;
 	background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/tufli1-copy.jpg');
 	background-repeat:no-repeat;
 	background-size:cover;
 	
 
 	 
 	 
}


.options-items-left10{
	font-family:options_s;
	font-size:8em;
	color:#000000;
	text-align:right;
	
	position:absolute;
	top:0.5em;
    right:0.5em;
	width:40%;
	height:40%;
}
.options-items-left12{
	top:8em;
	width:30%;
	right:1em;
	text-align:right;
	
}
.options-items-left11{
	top:1em;
	width:30%;
	left:1em;
}
.options-items-left13{
	top:5.5em;
	width:15%;
	left:1em;
	font-size:5em;
	color:#9ACD32;
	border:12px dotted #9ACD32;
	height:11%;
	text-align:center;
	
}

.align8{
	width:85%;
	margin-left:15%;
}
.align9{
	width:60%;
	
}
.align9_1 {
	width:120%;
}
.options-items2{
	position:absolute;
	width:100%;
	height:1100px;

	color:green;
	
}


.block-flex{
	display:flex;
	position:relative;
	
	
}
.fixed{

	width: 8em;
	height: 2em;
	margin-left:4em;
	background: #9d7a4b;
	cursor:pointer;
	border-radius:6px;
	text-align:center;
	
}
.wrapper-fixed{
	height:800px;
visibility:hidden;
	z-index:2;
	position:fixed;
	top:0;
	
	
}




.ope1, .ope2, .ope3, .ope4, .ope5{
	position:absolute;
	
	
	
}

.ope1{
	top:0.2em;
	left:5em;
	bottom:10em; 
 	z-index:1;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
   height:8%;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	 color:#FDF5E6;
	 border-radius:6px;
}
.ope2{
	
	left:5em;
	 color:#FDF5E6;
	z-index:2; opacity:0.8;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
   height:8%;
	width:6em;
	height:2em;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	border-radius:6px;
	}
.ope3{
	top:7em; 
	left:5em;
	z-index:3;
	opacity:0.8;
	 color:#FDF5E6;
	 border:1px solid #9d7a4b;
	 background:#9d7a4b;
  border-radius:6px;
	height:2em;
	width:6em;
	
	text-align:center;
	line-height:1.8em;}
.ope4{
	top:12em;
	left:5em;
 z-index:4;opacity:0.8;
  color:#FDF5E6;
  border:1px solid #9d7a4b;
	 background:#9d7a4b;
   border-radius:6px;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
}
.ope5{
	top:17em;
	left:5em;
 z-index:5;opacity:0.6;
 color:#FDF5E6;
 border:1px solid #9d7a4b;
	 background:#9d7a4b;
	width:6em;
	height:2em;
	text-align:center;
	line-height:1.8em;
	border-radius:6px;
	}
	













@media (max-width:450px) and (min-width:320px) {
	html, body{
	overflow-x:hidden;
	}
.fixed{
	width: 8em;
	height: 2em;
	margin-left:1em;
	background: #9d7a4b;
	cursor:pointer;
	border-radius:6px;
	text-align:center;
	font-size:10px;
}
.open1{
	cursor:pointer;
	font-size:0.5em;
	left:0
}

.open2{
	cursor:pointer;
	font-size:0.5em;
	left:10em;
	}
.open3{
	cursor:pointer;
	font-size:0.5em;
	left:18.5em;
}
.open4{
	cursor:pointer;
	font-size:0.5em;
	left:27em;
}
.open5{
	cursor:pointer;
	font-size:0.5em;
	left:34em;
	}


.italian-image{
	margin-left:-10em;
	background-size: 50vw 15vh;
}
.englich-image{
	background-size: 50vw 15vh;
	margin-left:-10em;
}
.ope1{
	cursor:pointer;
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope2{
	cursor:pointer;
	top:-2.5em;
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope3{
cursor:pointer;
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope4{
	cursor:pointer;
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope5{
	cursor:pointer;
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
   .container-wrapper{
   	height:100%;
   	position:relative;
   }
	
.image{
position:absolute;
z-index: -3;
	width:100%;
	height:100%;
	 background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/fon1.jpg');
	 background-repeat:no-repeat;
	 background-size:640px 270px;
}
.right-menu{
	height:6em;
}
		.image-right{
			border:1px solid black;
			background-image: url('/learn/images/wrapperFootwear/checkroom.jpg');
			background-repeat: no-repeat;
			background-size:40% auto;
			left:21%;
			}
			.select1{
	        width:80%;
	        margin-top:0;
	}


.wrapper-item2{
	cursor:pointer;
   width:7em;
   font-size:0.5em;
    height:2em;
}

.wrapper-item3{
	cursor:pointer;
   width:7em; 
     font-size:0.5em;
    height:2em;
}
	
.wrapper-item{
	width:7em;
    font-size:0.5em;
    height:2em;
    
}


.wrapper-item::after {
      content: "▶";
      padding-left:28%;
	
}

.wrapper-item2::after {
      content: "▶";
       padding-left:12%;
	
}
.login::after {
      content: "▶";
      padding-left:40%;
	
}
.wrapper-it::after {
      content: "▶";
      padding-left:15%;
      
}

.wrapper-it{
	 width:7em;
	 	 font-size:0.5em;
    height:2em;

}

.container-options{
	width:100%;
	height:13em;
}

	 .image1{
	 	 background-size:100% 100%
	 	
	 }


.options-items-left3{
	font-size:10.2px;
}
.options-items-left{
	font-size:26px;
	width:35%;
	height:20%;

}
.options-items-left2{
	font-size:9px;
	width:32%;
	top:42%;
}
.options-items-left4{
	font-size:9.5px;
	width:20%;
	top:6em;
	right:0.1em;
}

.image2{
	 background-size:contain;
	 height:20em;
	 
}
.options-items-left9{
	font-size:8.8px;
	width:21%;
	top:35%;
	
}
.align8{
	font-size:8.8px;
}
.options-items-left7{
	top:10%;
	font-size:28px;
	width:35%;
	height:20%;
}
.options-items-left8{
	top:33%;
	font-size:8.8px;
	width:38%;
	height:20%;
}
.container-options1{
	height:14.5em;
}

.container-options2{
	margin-top:0;
	height:17.3em;
}

.image3{
	 background-size:contain;
	 height:12em;
	 
	 
}
.options-items2{
	 height:20em;
}

.options-items-left11{
font-size:8.8px;	
}
.options-items-left10{
font-size:26px;	
width:35%;
}
.options-items-left12{
font-size:8.8px;	
width:35%;
}
.options-items-left13{
display:none;
}
.select1{
	margin-top:2em;
}
.select-footwear{
	top:127px;
	left:0;
}



	}
	 
	@media (max-width:830px) and (min-width:568px) {
	html, body{
	overflow-x:hidden;
	}

 .container-wrapper{
   	height:370px;
   	position:relative;
   }
.navigation{
	
}
.image{
position:absolute;
z-index: -3;
	width:100%;
	height:100%;
	 background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/fon1.jpg');
	 background-repeat:no-repeat;
	 background-size:840px 370px;
}

.right-menu{
	width:60%;
	height:auto;
	
	
	
}
		.image-right{
		
			
			
			background-image: url('https://casperobuh.github.io/learn/images/wrapperFootwear/checkroom.jpg');
			background-repeat: no-repeat;
			background-size:50vw 30vh;
			
			
			
			
			}
			.select1{
	        width:80%;
	        margin-top:10%;
	}




.container-options{
	width:100%;
	height:23.5em;
}

	 .image1{
	 	 background-size:cover;
	 	
	 }


.options-items-left3{
	font-size:16px;
}
.options-items-left{
	font-size:35px;
	width:35%;
	height:20%;
}
.options-items-left2{
	font-size:18px;
	width:32%;
	top:35%;
}
.options-items-left4{
	font-size:16px;
	width:20%;
	top:5.5em;
	right:0.1em;
}

.image2{
	 background-size:cover;
	 height:20em;
	 
}
.options-items-left9{
	font-size:16px;
	width:19.1%;
	top:30%;
	
}
.options-items-left7{
	top:10%;
	font-size:35px;
	width:35%;
	height:20%;
}
.options-items-left8{
	top:40%;
	font-size:16px;
	width:33%;
	height:20%;
}
.container-options1{
	height:16em;
}

.container-options2{
	margin-top:0;
	height:17.3em;
}

.image3{
	 background-size:contain;
	 height:20em;
	 top:3em;
	 
}
.options-items2{
	 height:20em;
}

.options-items-left11{
font-size:18px;	
top:4em;
}
.options-items-left10{
font-size:37px;	
width:35%;
top:1.5em;
}
.options-items-left12{
font-size:18px;	
width:35%;
top:7.5em;
}
.options-items-left13{
display:none;
}




.fixed{
	width: 8em;
	height: 2em;
	margin-left:1em;
	background: #9d7a4b;
	cursor:pointer;
	border-radius:6px;
	text-align:center;
	font-size:10px;
}
.ope1{
	
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope2{
	
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
	top:-2.5em;
}
.ope3{

	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope4{
	
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
.ope5{
	
	left:2em;
 	font-size:0.6em;
   height:4%;
	width:6em;
	height:2em;
}
   


.wrapper-item2{
	cursor:pointer;
   width:7em;
   font-size:0.8em;
    height:2em;
    padding-left:0.5em;
}

.wrapper-item3{
	cursor:pointer;
   width:7em; 
     font-size:0.8em;
    height:2em;
    padding-left:0.5em;
}
	
.wrapper-item{
	width:7em;
    font-size:0.8em;
    height:2em;
    padding-left:0.5em;
}

.wrapper-it{
	padding-left:0.5em;
	 width:7em;
	 	 font-size:0.8em;
    height:2em;

}



.wrapper-item::after {
      content: "▶";
      padding-left:20%;
	
}


.login::after {
      content: "▶";
      padding-left:40%;
	
}

.wrapper-item2::after {
      content: "▶";
       padding-left:8%;
	
}
.wrapper-it::after {
      content: "▶";
      padding-left:10%;
      
}
.select-footwear{
	top:10em;
}








.open1{
	font-size:0.8em;
}

.open2{
	font-size:0.8em;
	}
.open3{
	font-size:0.8em;
}
.open4{
	font-size:0.8em;
}
.open5{
	font-size:0.8em;
	}


.italian-image{
	background-size: 50vw 30vh;
}
.englich-image{
	background-size: 50vw 30vh;
}
}









	
