body, html{height:100%;}

.img{

font-size:1.5em;
	position:absolute;
	width:100%;
	padding:1.5em;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:10;
}


.img2{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:10;
}

.img3{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:10;
	
}

.img4{
	margin-top:0;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:9;
	
}
.img5{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:9;
	
}
.img6{
	margin-top:18em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:9;

}


.img7{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:8;
}
.img8{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:8;
}
.img9{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:8;
}


.img10{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img11{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url(/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img12{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}

.img13{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:6;
}
.img14{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:6;
}

.img15{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}






.img16{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img17{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img18{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img19{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img20{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img21{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img22{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img23{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img24{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img25{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img26{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img27{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img28{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img29{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img30{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img31{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img32{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img33{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img34{
	
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img35{
	margin-top:8em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.img36{
	margin-top:16em;
	padding:1.5em;
	font-size:1.5em;
	position:absolute;
	width:100%;
	background-repeat:no-repeat;
	background-image: url('https://casperobuh.github.io/images/test/p.jpg');
	background-size:cover;
	cursor:pointer;
	z-index:7;
}
.answer1{
	margin-left:30%;
	width:70%;
}
.answer2, .answer3, .answer4, .answer5, .answer6, .answer7, .answer8, .answer9, .answer10, .answer11, .answer12{
	display:none;
	margin-left:30%;
	width:70%;
}

.button{
	height:4em;
	padding-top:4em;

box-sizing:border-box;
}
.result-button {
	width:25%;
		font-family: options_e;
	
	
	margin-left:0.5em;
	text-align:center;
	line-height:1.2em;
	cursor:pointer;
	font-size:3em;
	font-weight:900;
}

.col-button {
	font-family: options_e;
	width:25%;
	line-height:1.2em;
	
	
	margin-top:2em;
	margin-left:0.5em;
	text-align:center;
	font-size:3em;
	cursor:pointer;
	font-weight:900;
}


.ball {
	display:none;
	margin-top:13em;
	position:absolute;
	margin-left:10%;
	z-index:20;
}
.ball2{
	display:none;
	position:absolute;
	margin-top:15em;
	margin-left:30%;
	z-index:20;
}
.ball3{
	display:none;
	margin-top:27em;
	position:absolute;
	margin-left:30%;
	z-index:20;
}

.result{
	display:inline-block;
width:70%;
position:relative;
bottom:95em;	
}

.name{
	text-shadow:1px 1px 40px;
	position:absolute;
	font-family:options_s;
	right:4em;
	
	top:2em;
	font-size:40px;
display:inline-block;
}
.pname{
	text-shadow:1px 1px 40px;
	font-family:options_e;
	left:1em;
	display:inline-block;
	font-size:1em;
}
.haracter{
	text-shadow:1px 1px 40px;
	right:7.5em;
	top:3.3em;
	position:absolute;
	
	font-family:options_s;
    font-size:26px;
display:inline-block;
	
	margin-top:2em;
}
.haracteri{
	text-shadow:1px 1px 40px;
	font-family:options_e;
	display:inline-block;
	font-size:1em;
	margin-top:2em;
}
.tufli{
	text-shadow:1px 1px 40px;
	right:3em;
	top:3em;
	position:absolute;
	
	font-family:options_s;
    font-size:40px;
display:inline-block;
	
	margin-top:4em;
}
.tuflii{
	text-shadow:1px 1px 40px;
	    margin-left: 0.4em;
	font-family:options_e;
	display:inline-block;
	
	font-size:1em;
}
.button-result{
	box-shadow:10px 10px 20px 10px;
	font-family:options_e;
	position:absolute;
	right:8em;
	top:15em;
	font-size:1.5em;
	border:1px solid black;
	width:14em;
	height:4em;
	cursor:pointer;
	text-align:center;
	line-height:4em;
	font-weight:bold;
}
.recom{
	box-shadow:10px 10px 20px 10px;
	font-weight:bold;
	font-size:1.5em;
	font-family:options_e;
	position:absolute;
	right:8em;
	top:22em;
	border:1px solid black;
	width:14em;
	height:4em;
	cursor:pointer;
	text-align:center;
	line-height:4em;
}
.recom:hover{
	margin-top:0.5em;
}
.button-result:hover{
	margin-top:0.5em;
}


@media(max-width:460px) and (min-width:310px) {
	.img, .img4, .img7, .img10, .img13, .img16, .img19, .img22, .img25, .img28, .img31, .img34 {

font-size:0.6em;
	position:relative;
	width:70%;
	padding:1.5em;
	margin-left:4em;
	background-size:150% auto;
}
.result{
	display:inline-block;
width:70%;
position:relative;
bottom:40em;	
}






.name{
	text-shadow:1px 1px 40px;
	position:absolute;
	font-family:options_s;
	right:2em;
	
	top:1em;
	font-size:8px;
display:inline-block;
}
.pname{
	text-shadow:1px 1px 40px;
	font-family:options_e;
	left:1em;
	display:inline-block;
	font-size:1em;
}
.haracter{
	text-shadow:1px 1px 40px;
	right:0.5em;
	top:3.3em;
	position:absolute;
	
	font-family:options_s;
    font-size:8px;
display:inline-block;
	
	margin-top:0em;
}
.haracteri{
	text-shadow:1px 1px 40px;
	font-family:options_e;
	display:inline-block;
	font-size:1em;
	margin-top:2em;
}
.tufli{
	text-shadow:1px 1px 40px;
	right:3em;
	top:5em;
	position:absolute;
	
	font-family:options_s;
    font-size:8px;
display:inline-block;
	
	
}
.tuflii{
	text-shadow:1px 1px 40px;
	    margin-left: 0.4em;
	font-family:options_e;
	display:inline-block;
	
	font-size:1em;
}
.button-result{
	box-shadow:10px 10px 20px 10px;
	font-family:options_e;
	position:absolute;
	right:5.5em;
	top:12em;
	font-size:0.5em;
	border:1px solid black;
	width:5em;
	height:2em;
	cursor:pointer;
	text-align:center;
	line-height:2em;
	font-weight:bold;
}
.recom{
	box-shadow:10px 10px 20px 10px;
	font-weight:bold;
	font-size:0.7em;
	font-family:options_e;
	position:absolute;
	right:2em;
	top:12em;
	border:1px solid black;
	width:8em;
	height:3.5em;
	cursor:pointer;
	text-align:center;
	line-height:1.5em;
}
.img2, .img3, .img5, .img6, .img8, .img9, .img11, .img12, .img14, .img15, .img17, .img18, .img20, .img21, .img23, .img24, .img26, .img27, .img29, .img30, .img32, .img33, .img35, .img36{
	margin-top:4em;
	font-size:0.6em;
	position:relative;
	width:70%;
	padding:1.5em;
	margin-left:4em;
	background-size:150% auto;
}

.ball{
	width:200px;
	height:auto;
	margin-top:8em;	
}
.result-button {
	width:25%;
	font-family: options_e;
	margin-left:0.5em;
	text-align:center;
	line-height:1.2em;
	cursor:pointer;
	font-size:1.4em;
	font-weight:900;
}

.col-button {
	font-family: options_e;
	width:25%;
	line-height:1.2em;
	
	
	margin-top:2em;
	margin-left:0.5em;
	text-align:center;
	font-size:1.4em;
	cursor:pointer;
	font-weight:900;
}

}



@media (max-width:830px) and (min-width:568px){
	.img, .img4, .img7, .img10, .img13, .img16, .img19, .img22, .img25, .img28, .img31, .img34 {

font-size:0.8em;
	position:relative;
	width:70%;
	padding:1.5em;
	margin-left:4em;
	background-size:150% auto;
}
.img2, .img3, .img5, .img6, .img8, .img9, .img11, .img12, .img14, .img15, .img17, .img18, .img20, .img21, .img23, .img24, .img26, .img27, .img29, .img30, .img32, .img33, .img35, .img36{
margin-top:4em;
font-size:0.8em;
	position:relative;
	width:70%;
	padding:1.5em;
	margin-left:4em;
	background-size:150% auto;
}


.result-button {
	width:25%;
	font-family: options_e;
	margin-left:0.5em;
	text-align:center;
	line-height:1.2em;
	cursor:pointer;
	font-size:1.4em;
	font-weight:900;
}

.col-button {
	font-family: options_e;
	width:25%;
	line-height:1.2em;
	
	
	margin-top:2em;
	margin-left:0.5em;
	text-align:center;
	font-size:1.4em;
	cursor:pointer;
	font-weight:900;
}
.haracter{
	position:absolute;
	right:6em;
	top:4em;
	width:15em;
	font-size:0.5em;
}
.tufli{
	position:absolute;
	right:8em;
	top:6em;
	width:15em;
	font-size:0.5em;
}
.name{
	position:absolute;
	right:15em;
	top:1em;
	font-size:0.5em;
	width:10em;
	
}
.button-result{
	position:absolute;
	right:15em;
	top:8.5em;
	width:6em;
	height:2em;
	cursor:pointer;
	text-align:center;
	line-height:2em;
	font-size:0.5em;
}

.recom{
	position:absolute;
	right:12em;
	font-size:0.5em;
	top:12em;
	width:12em;
	height:2em;
	cursor:pointer;
	text-align:center;
	line-height:2em;
}



}
